#title-container {
	height: 100vh;
    display: flex;
    flex-direction: column;
}

.corde-container {
	flex: 1 1 0;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
#title {
	text-align: center;
	font-size: 9vw;	
	margin: 70px 0 0px 0;
	font-family: "Halfomania";
}

#arrow-container {
	width: fit-content;
	margin: 0 auto;
	padding: 20px;
	opacity: 100%;
	transition: opacity 0.5s;

	&:not(.visible) {
		cursor: default;
		opacity: 0%;
	}

	svg {
		display: block;
		width: 80px;
		// fill:white;
	}
}
