<div id="icons-container" [ngClass]="{'small': !circles}">
	<a class="image-container hoverable" href="mailto:ophelieart.oa@gmail.com" target="_blank" rel="noopener" aria-label="Gmail">
		<img src="assets/icons/gmail.png" alt="Gmail" *ngIf="!circles"/>
		<img src="assets/icons/gmail_circles.png" alt="Gmail" *ngIf="circles"/>
	</a>
	<a class="image-container hoverable" href="https://www.youtube.com/channel/UCR9DHTsRZhUdXFbQdlA849w" target="_blank" rel="noopener" aria-label="YouTube">
		<img src="assets/icons/youtube.png" alt="YouTube" *ngIf="!circles"/>
		<img src="assets/icons/youtube_circles.png" alt="YouTube" *ngIf="circles"/>
	</a>
	<a class="image-container hoverable" href="https://www.facebook.com/ophelie.dubois.792" target="_blank" rel="noopener" aria-label="Facebook">
		<img src="assets/icons/facebook.png" alt="Facebook"/>
	</a>
	<a class="image-container hoverable" href="https://www.instagram.com/ophelieart_oa/" target="_blank" rel="noopener" aria-label="Instagram">
		<img src="assets/icons/insta.png" alt="Instagram" *ngIf="!circles"/>
		<img src="assets/icons/insta_circles.png" alt="Instagram" *ngIf="circles"/>
	</a>
</div>