#container {
	background-image: url("/assets/background-danse.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position-x: center;
	background-position-y: center;
}

app-spotlight-list {
	width: 100vw;
}