<app-title-header backgroundFile="oeil.jpeg" title="ARTS VISUELS" paddingBottomPic="10vh"></app-title-header>
<div id="presentation-container">
	<div class="presentation" id="presentation1">
		<h3 class="presentation-title">PEINTURES</h3>
		<img src="assets/peintures/p2.jpg"/>
	</div>
	<div class="presentation" id="presentation2">
		<h3 class="presentation-title">SCULPTURES</h3>
		<img src="assets/peintures/p8.jpg"/>
	</div>
	<div class="presentation" id="presentation3">
		<h3 class="presentation-title">DESSINS</h3>
		<img src="assets/dessins/d3.jpg"/>
	</div>
</div>
<app-photo-grid [pictures]="drawings"></app-photo-grid>
