<app-title-header backgroundFile="oeil.jpeg" title="ARTS VISUELS" paddingBottomPic="10vh"></app-title-header>
<div id="presentation-container">
	<div class="presentation noselect" id="presentation1"
		[ngClass]="{'selected': currentFilter === filters.Peintures}" (click)="changeFilter(filters.Peintures)">
		<h3 class="presentation-title">PEINTURES</h3>
		<img src="assets/peintures/p8.jpg"/>
	</div>
	<div class="presentation noselect" id="presentation2"
		[ngClass]="{'selected': currentFilter === filters.Sculptures}" (click)="changeFilter(filters.Sculptures)">
		<h3 class="presentation-title">SCULPTURES</h3>
		<img src="assets/peintures/p2.jpg"/>
	</div>
	<div class="presentation noselect" id="presentation3"
		[ngClass]="{'selected': currentFilter === filters.Dessins}" (click)="changeFilter(filters.Dessins)">
		<h3 class="presentation-title">DESSINS</h3>
		<img src="assets/dessins/d5.jpg"/>
	</div>
</div>
<h4 id="title-selected">{{currentTitle}}</h4>
<app-photo-grid [pictures]="shownDrawings"></app-photo-grid>
