<app-full-image-viewer
	[(visible)]=ShowingFullImage
	[hasPreviousImage]=hasPreviousImage
	[hasNextImage]=hasNextImage
	(nextImage)="nextImage($event)">
</app-full-image-viewer>

<div id="grid-view" [ngClass]="{'background-grid': ShowingFullImage}">
	<div class="grid-cell" *ngFor="let picture of pictures; let index = index">
		<div class="square-img-container" (click)="selectImage(index)">
			<div class="shadow">
				<p class="title">{{picture.title}}</p>
			</div>
			<img src="/assets/{{picture.fileName}}" alt="{{picture.title}}" loading="lazy">
		</div>
	</div>
</div>
