#FullImgContainer {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 20;
	margin: 50px 10%;
	background-color: rgb(20, 20, 20);
	display: flex;
	flex-direction: row;
	align-items: center;
}

#darkBackground {
	position: fixed;
	z-index: 19;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.8);
}

#imgContainer {
	height: 100%;
	width: 70%;
	flex-basis: 70%;
	padding: 25px 50px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	
	@media only screen and (max-width: 800px) {
		padding-right: 20px;
		padding-left: 20px;
	}

	#smallImgContainer {
		display: flex;
		justify-content: center;
		max-height: 100%;
		position: relative;

		img {
			max-width: 100%;
			border: 2px solid white;
		}
		mat-icon {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			background-color: rgba(0, 0, 0, 0.5);
  			border-radius: 50%;
			font-size: 30px;
			height: 30px;
			width: 30px;
			cursor: pointer;
		}
		#subprevious-icon {
			left: 10px;
		}
		#subnext-icon {
			right: 10px;
		}
		
		#subImageIndicators {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: 20px;

			.subImageIndicator {
				border-radius: 50%;
				background-color: rgba(0, 0, 0, 0.5);
				width: 12px;
				height: 12px;
				margin: 0 15px;
				transition: background-color 0.3s;
			display: inline-block;

				&.selected {
					background-color: black;
				}
			}
		}
	}
}

#description-separator {
	width: 1px;
	height: 60%;
	border-left: 1px solid;
}

#description {
	margin: 50px 25px;
	font-size: 1.8em;
	text-align: left;
	box-sizing: border-box;
	flex-basis: 30%;
}

#controls {
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px 20px 10px 15px;
	font-size: 1.5em;
}

.arrowContainer {
	height: 90px;
	width: 50px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	cursor: pointer;
	visibility: visible;
	@media only screen and (max-width: 800px) {
		visibility: collapse;
	}

	&.leftArrow {
		left: 0;
	}
	&.rightArrow {
		right: 0;
	}
	
	svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 40px;
		width: 20px;
	}
}
