<footer id="footnotes">
	<!-- <a id="contact-me" class="hoverable" routerLink="/contact">Contact</a> -->
	<p id="copyright"><span>Copyright </span>© 2020 - 2021<span> Ophélie Dubois</span></p>
	<!-- <div id="icons-container">
		<a class="image-container hoverable" href="https://www.youtube.com/channel/UCR9DHTsRZhUdXFbQdlA849w" target="_blank" rel="noopener" aria-label="YouTube">
			<img src="assets/icons/youtube_social_circle_white.png" alt="YouTube"/>
		</a>
		<a class="image-container hoverable" href="https://www.facebook.com/ophelie.dubois.792" target="_blank" rel="noopener" aria-label="Facebook">
			<img src="assets/icons/f_logo_RGB-White_58.png" alt="Facebook"/>
		</a>
	</div> -->
</footer>
