<header>
    <div>
        <nav>
			<a id="logo-header" routerLink='/' routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="hoverable">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 216.562 203.031"><path d="M626.187,439.141A100.684,100.684,0,1,1,726.871,338.457,100.8,100.8,0,0,1,626.187,439.141Zm90.706-100.684a90.7,90.7,0,1,0-90.706,90.7A90.808,90.808,0,0,0,716.893,338.457Z" transform="translate(-525.506 -236.11)"/><path d="M732.088,253.148,549.233,436a4.989,4.989,0,0,1-7.055-7.055L733.552,237.574a4.989,4.989,0,0,1,8.516,3.528V432.473a4.991,4.991,0,0,1-4.989,4.989H652.115a4.99,4.99,0,1,1,0-9.979h79.973Z" transform="translate(-525.506 -236.11)"/></svg>
			</a>
            <ol #onglets id="onglets">
				<div id="activeIndicator" *ngIf="visibleIndicator" [style.left.px]="indicatorPos"></div>
                <!-- <li routerLinkActive="active"  [routerLinkActiveOptions]= "{exact: true}">
                    <a routerLink='' class="hoverable">ACCUEIL</a>
                </li> -->
				<li routerLinkActive="active">
                    <a routerLink='/a-propos' class="hoverable">À PROPOS</a>
					<!-- <ol class="sous-onglets">
						<li routerLinkActive="active">
							<a routerLink='/biographie' class="hoverable">BIOGRAPHIE</a>
						</li>
						<li routerLinkActive="active">
							<a routerLink='/demarche' class="hoverable">DÉMARCHE ARTISTIQUE</a>
						</li>
						<li routerLinkActive="active">
							<a routerLink='/experiences' class="hoverable">EXPÉRIENCES</a>
						</li>
					</ol> -->
                </li>
                <li routerLinkActive="active">
                    <a routerLink='/danses' class="hoverable">DANSES & PERFORMANCES</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink='/arts-visuels' class="hoverable">ARTS VISUELS</a>
					<!-- <ol class="sous-onglets">
						<li routerLinkActive="active">
							<a routerLink='/peintures' class="hoverable">PEINTURES</a>
						</li>
						<li routerLinkActive="active">
							<a routerLink='/dessins' class="hoverable">DESSINS</a>
						</li>
						<li routerLinkActive="active">
							<a routerLink='/sculptures' class="hoverable">SCULPTURES</a>
						</li>
					</ol> -->
                </li>
                <!-- <li routerLinkActive="active">
                    <a>RECEUIL DE POÉSIE</a>
                </li> -->
				<li routerLinkActive="active">
                    <a routerLink='/publications' class="hoverable">PUBLICATIONS</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink='/contact' class="hoverable">CONTACT</a>
                </li>
            </ol>
        </nav>
		<app-social-logos></app-social-logos>
    </div>
</header>