<header>
    <div>
        <nav>
            <ol>
                <li routerLinkActive="active"  [routerLinkActiveOptions]= "{exact: true}">
                    <a routerLink='' class="hoverable">ACCUEIL</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink='/choregraphies' class="hoverable">CRÉATIONS CHORÉGRAPHIQUES</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink='/gallerie' class="hoverable">GALERIE DE PEINTURES ET DESSINS</a>
                </li>
                <li routerLinkActive="active">
                    <a>RECEUIL DE POÉSIE</a>
                </li>
                <li routerLinkActive="active">
                    <a>CONTACT</a>
                </li>
            </ol>
        </nav>
    </div>
</header>