header{
    width: 100%;
}

ol {
    list-style-type: none;
    padding: 0;
    width: fit-content;
    margin: 20px auto;
    li {
        display: inline-block;
        a {
            padding: 10px 20px;
            text-decoration: none;
            font-weight: 300;
            // transition: color 0.2s;
        }
        &.active a {
            color: var(--accent-color);
        }
        // &:hover:not(.active) a{
        //     color: var(--hovered-color);
        // }
    }
}