<app-title-header backgroundFile="pied.jpeg" title="O P H E L I E"></app-title-header>
<div id="categories-img">
	<a class="categorie-img">
		<div class="image-container" routerLink='/biographie'>
			<img src="assets/about/d28.jpg">
		</div>
		<p>BIOGRAPHIES</p>
	</a>
	<a class="categorie-img" routerLink='/demarches'>
		<div class="image-container">
			<img src="assets/about/d28.jpg">
		</div>
		<p>DÉMARCHES ARTISTIQUES</p>
	</a>
	<a class="categorie-img" routerLink='/experiences'>
		<div class="image-container">
			<img src="assets/about/d28.jpg">
		</div>
		<p>EXPÉRIENCES</p>
	</a>
</div>