<app-title-header backgroundFile="pied.jpeg" title="A PROPOS"></app-title-header>
<app-menu-circles></app-menu-circles>
<!-- <div id="presentation-container">
	<div class="presentation noselect" id="presentation1" (mouseover)="hoverImage(pages.Bio)" (mouseout)="unhoverImage()">
		<img src="assets/peintures/p8.jpg"/>
	</div>
	<div class="presentation noselect" id="presentation2" (mouseover)="hoverImage(pages.Dem)" (mouseout)="unhoverImage()">
		<img src="assets/sculptures/s2.jpg"/>
	</div>
	<div class="presentation noselect" id="presentation3" (mouseover)="hoverImage(pages.Exp)" (mouseout)="unhoverImage()">
		<img src="assets/dessins/d8.jpg"/>
	</div>
	<h4 id="title-selected">{{hoverTitle}}</h4>
</div> -->