<app-title-header backgroundFile="pied.jpeg" title="A PROPOS"></app-title-header>
<div id="categories-img">
	<a class="categorie-img">
		<div class="image-container" routerLink='/a-propos/biographie'>
			<img src="assets/about/d28.jpg">
		</div>
		<p>BIOGRAPHIES</p>
	</a>
	<a class="categorie-img" routerLink='/a-propos/demarches'>
		<div class="image-container">
			<img src="assets/about/d28.jpg">
		</div>
		<p>DEMARCHES ARTISTIQUES</p>
	</a>
	<a class="categorie-img" routerLink='/a-propos/experiences'>
		<div class="image-container">
			<img src="assets/about/d28.jpg">
		</div>
		<p>EXPERIENCES</p>
	</a>
</div>