:host {
	flex: 1 1 0;
	display: flex;
	flex-direction: column;
}

@keyframes appear {
	0% {
	  opacity: 0%;
	}
	100% {
	  opacity: 100%;
	}
}

#arrow-down {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%) translateY(25px) rotateZ(270deg);
	width: 100px;
	height: 100px;
	fill: rgb(13,13,13);
}

#main-container {
	flex: 1 1 0;
    position: relative;
	display: flex;
	align-items: center;
	border-bottom: 1px solid white;
	flex-basis: 100vh;

    .title-video {
		position: absolute;
        background-color: black;
        width: 100%;
        height: 100%;
		object-fit: cover;
        z-index: -5;
    }
    .title-overlay {
        //todo: change background-image to local
        height: 100%;
        background: linear-gradient(rgba(0,0,0,0.2) 100%, rgba(0,0,0,0.2) 100%), url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
        background-clip: content-box;
        opacity: 50%;
        z-index: -1;
        position: absolute;
        top:0;
        left:0;
    }
    #title-container {
        max-width: 1100px;
		// min-width: 950px;
        text-align: center;
        box-sizing: border-box;
		padding: 50px 3vw;
		display: flex;
		flex-direction: column;
        h1 {
            font-size: 12em;
            margin: 10px 0;
            text-shadow: 3px 3px 5px rgba(black, 0.2);
			font-family: 'Halfomania';
			line-height: 0.8em;
			height: 120px;
			opacity: 0;
			animation: 0.5s ease-in-out 2s 1 appear;
			animation-fill-mode: forwards;
			span {
				font-family: 'Halfomania';
				font-size: 3rem;
				display: inline-block;
				// height: 100%;
				// line-height: 3.75rem;
				vertical-align: middle;
				font-weight: 600;
				transform: translateY(-19%);
			}
        }
        h2 {
            font-size: 1.65em;
            margin: 0;
            text-shadow: 2px 2px 4px rgba(black, 0.2);
			color: var(--accent-color);
			font-weight: bold;
			opacity: 0;
			animation: 0.5s ease-in-out 2s 1 appear;
			animation-fill-mode: forwards;
        }
		#logo {
			margin-left: auto;
			margin-right: auto;
			flex-shrink: 1;
			flex-grow: 1;
			fill: white;
			width: 430px;
			opacity: 0;
			animation: 0.5s ease-in-out 1.5s 1 appear;
			animation-fill-mode: forwards;
			// filter: drop-shadow( 1px 1px 5px rgba(255, 255, 255, 0.5));
		}
		@media only screen and (max-width: 1000px) {
			h1 {
				font-size: 6em;
				span {
					font-size: 2rem;
				}
			}
			h2 {
				font-size: 1.5em;
			}
			#logo {
				width: 215px;
			}
		}
		@media only screen and (max-width: 500px) {
			h1 {
				font-size: 4em;
				span {
					font-size: 1.5rem;
				}
			}
			h2 {
				font-size: 1.2em;
			}
			#logo {
				width: 150px;
			}
		}
    }
}

app-header {
	position: fixed;
	visibility: collapse;
}

#main-content {
	height: 1000px;
	position: relative;

	.title-video {
		position: absolute;
		transform: scaleY(-1);
        background-color: black;
        width: 100%;
        height: 100%;
		object-fit: cover;
        z-index: -5;
		opacity: 0.1;
    }
	#citation {
		justify-content: center;
		display: flex;
		flex-direction: row;
		.texte {
			font-family: 'HP-Simplified-Bold';
			font-size: 2.3em;
			margin: 150px 70px;
			line-height: 1.7em;
			text-align: justify;
			max-width: 1500px;
			color: var(--accent-color);
		}
		.guillemet {
			font-family: 'Martina';
			font-size: 9em;
			margin: 0;
			align-self: center;
			margin-bottom: 10px;
			color: var(--accent-color);
		}
	}
}

#categories-img {
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	display: flex;
	justify-content: center;
	max-width: 1200px;

	.categorie-img {
		margin: 50px 50px;
		width: 200px;
		text-decoration: none;
		position: relative;

		&:hover {
			cursor: pointer;		
			opacity: var(--hovered-opacity);
			transition: opacity 0.2s;
		}

		.image-container {
			height: 200px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center center;
			}
		}
		p {
			margin: 0;
			padding: 20px;
			box-sizing: border-box;
			font-size: 2em;
			width: 100%;
			text-align: center;
			font-family: 'Blackout';
		}
	}

	&.small {
		.categorie-img {
			width: 70px;
			.image-container {
				height: 70px;
			}
			p {
				display: none;
			}
		}
	}
}