<div id="main-container">
    <div class="title-video title-overlay"></div>
    <video playsinline autoplay muted loop onloadedmetadata="this.muted = true" oncanplay="this.play()"
    class="title-video"
    poster="assets/title/bg-video-poster.jpg">
        <source src="assets/title/bg-video.mp4"> <!--todo: change video-->
    </video>
    <div id="title-container">
        <h1 class="noselect">OPHÉLIE</h1>
        <h2 class="noselect">DANSEUSE, ARTISTE</h2>
    </div>
</div>
<div id="content">
    Il va y avoir du contenu ici!
</div>
<app-page-background></app-page-background>