<app-header></app-header>
<div id="main-container">
    <div class="title-video title-overlay"></div>
    <video playsinline autoplay muted loop onloadedmetadata="this.muted = true" oncanplay="this.play()"
    class="title-video">
        <source src="assets/title/bg-video.mp4"> <!--todo: change video-->
    </video>
    <div id="title-container">
        <svg id="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 214.6 201"><path d="M871.5,673.7a99.7,99.7,0,0,1,0-199.4c54.9,0,99.6,44.8,99.6,99.7A99.8,99.8,0,0,1,871.5,673.7Zm0-191.4A91.7,91.7,0,1,0,963.2,574,91.8,91.8,0,0,0,871.5,482.3Z" transform="translate(-771.8 -472.7)" fill="#fff"/><path d="M897.4,672a4,4,0,0,1-4-4,3.9,3.9,0,0,1,4-3.9h81V486.3L793.8,670.9A4.3,4.3,0,0,1,791,672a3.9,3.9,0,0,1-2.8-1.1,4,4,0,0,1,0-5.7L979.5,473.9a3.9,3.9,0,0,1,2.8-1.2,4.1,4.1,0,0,1,1.6.3,3.9,3.9,0,0,1,2.4,3.7V668a4,4,0,0,1-4,4Z" transform="translate(-771.8 -472.7)" fill="#fff"/></svg>
		<h1 class="noselect">OPHELIE<span>○</span>ART</h1>
        <h2 class="noselect">DANSEUSE, CHORÉGRAPHE & ARTISTE MULTIDISCIPLINAIRE</h2>
    </div>
</div>
