<app-header></app-header>
<div #container id="aboutDateContainer">
	<div #sliderContainer id="sliderContainer">
		<mat-slider #dateSlider id="dateSlider" [vertical]="true" [invert]="false"
		[min]=0 [max]=1 [step]=0.001 [disabled]="disabled"
		[value]="sliderValue" (input)="updateScrollPos($event.value || 0)"></mat-slider>
		<div id="labelContainer" [style.top.px]="labelPos" [ngClass]="{'disabled': disabled}">
			<h4 #sliderLabel id="sliderLabelLeft" class="sliderLabel">20</h4>
			<h4 id="sliderLabelRight" class="sliderLabel">{{labelYear}}</h4>
		</div>
	</div>
	<div id="textContainer">
		<div #2020>
			<h3 class="year">2020</h3>
			<div class="title" style="background-image: url('assets/experiences/yt-2020.JPG');">
				<div class="job-container">
					<div class="job"><h4>Danseuse et chorégraphe : Création de la chaine youtube « OPHELIE »</h4>
						<span>Publications de courtes vidéos chorégraphiques et performances expérimentales</span>
					</div>
				</div>
			</div>
		<div #2019>
			<h3 class="year">2019</h3>
			<div class="title" style="background-image: url('assets/experiences/c1.jpg');">
				<div class="job-container">
					<div class="job"><h4>Chorégraphe : « Créatures sensibles »</h4>
						<span>Duo présenté dans le cadre de l'évènement Dans l’buisson</span>
					</div>
				</div>
			</div>
			<div class="title" style="background-image: url('assets/experiences/c2.jpg');">
				<div class="job-container">
					<div class="job"><h4>Danseuse : « Ne pas arrêter sans l’accord de votre médecin »</h4>
						<span>Présenté dans le cadre du festival Passerelle 840, chorégraphié par Laurence Gratton</span>
					</div>
				</div>
			</div>
		</div>
		<div #2018>
			<h3 class="year">2018</h3>
			<div class="title" style="background-image: url('assets/experiences/c3.jpg');">
				<div class="job-container">
					<div class="job"><h4>Danseuse : « Comme tout le monde »</h4>
						<span>Présenté dans le cadre du programme de danse de l’UQÀM, chorégraphié par Ariane Demers</span>
					</div>
				</div>
			</div>
			<div class="title" style="background-image: url('assets/experiences/c4.jpg');">
				<div class="job-container">
					<div class="job"><h4>Chorégraphe et danseuse : « Les murs fondent entre mes doigts lorsque je ferme les yeux »</h4>
						<span>Présenté avec 6 danseurs dans le cadre du festival Passerelle 840</span>
					</div>
				</div>
			</div>
		<div #2017>
			<h3 class="year">2017</h3>
			<div class="title" style="background-image: url('assets/experiences/c5.jpg');">
				<div class="job-container">
					<div class="job"><h4>Danseuse : « Quelque chose de sauvage »</h4>
						<span>Présenté dans le cadre du programme de danse de l’UQÀM, chorégraphié par Mélanie Demers</span>
					</div>
				</div>
			</div>
			<div class="title" style="background-image: url('assets/experiences/c6.jpg');">
				<div class="job-container">
					<div class="job"><h4>Chorégraphe : « Ce qui n’existe pas »</h4>
						<span>Présenté avec 5 danseuses dans le cadre du festival Passerelle 840</span>
					</div>
				</div>
			</div>
			<div class="title" style="background-image: url('assets/experiences/c7.jpg');">
				<div class="job-container">
					<div class="job"><h4>Danseuse : « Danses de société »</h4>
						<span>Présenté dans le cadre du programme de danse de l’UQÀM, chorégraphié par Danièle Desnoyers</span>
					</div>
				</div>
			</div>
			<div class="title" style="background-image: url('assets/experiences/c8.jpg');">
				<div class="job-container">
					<div class="job"><h4>Danseuse : Danses pour la troupe Corner YUL</h4>
						<span>Présentées aux compétitions Thunderstruck et 5678 Showtime</span>
					</div>
				</div>
			</div>
		</div>
		<div #2016>
			<h3 class="year">2016</h3>
			<div class="title" style="background-image: url('assets/experiences/c9.jpg');">
				<div class="job-container">
					<div class="job"><h4>Danseuse et chorégraphe : « Awakening»</h4>
						<span>Solo présenté dans le cadre des compétitions I-Dance et Reprezent et obtention du premier prix et de l’étoile d’interprétation</span>
					</div>
				</div>
			</div>
			<div class="title" style="background-image: url('assets/experiences/c10.jpg');">
				<div class="job-container">
					<div class="job"><h4>Danseuse : Chorégraphies pour la troupe United 21</h4>
						<span>Présentées aux compétitions I-Dance et Reprezent </span>
					</div>
				</div>
			</div>
			<div class="title" style="background-image: url('assets/experiences/c11.jpg');">
				<div class="job-container">
					<div class="job"><h4>Danseuse : « Aliss : Le terrier »</h4>
						<span>Présenté dans le cadre du festival Passerelle 840, chorégraphié par Ariane Demers</span>
					</div>
				</div>
			</div>
			<div class="title" style="background-image: url('assets/experiences/c12.jpg');">
				<div class="job-container">
					<div class="job"><h4>Chorégraphe : « Trou de ver »</h4>
						<span>Solo pour une danseuse présenté dans le cadre du festival Passerelle 840</span>
					</div>
				</div>
			</div>
		</div>
		<div #2015>
			<h3 class="year">2015</h3>
			<div class="title" style="background-image: url('assets/experiences/c13.jpg');">
				<div class="job-container">
					<div class="job"><h4>Danseuse : « I’m not Performing »</h4>
						<span>Spectacle de lancement du nouvel album de Robin Gorn au Rialto</span>
					</div>
				</div>
			</div>
			<div class="title" style="background-image: url('assets/experiences/c14.jpg');">
				<div class="job-container">
					<div class="job"><h4>Danseuse et chorégraphie : Solo de fin d’études du programme de danse du cégep St-Laurent</h4>
						<span>Solo créé et interprété lors du spectacle de fin d’étude du cégep St-Laurent</span>
					</div>
				</div>
			</div>
			<div class="title" style="background-image: url('assets/experiences/c15.jpg');">
				<div class="job-container">
					<div class="job"><h4>Chorégraphe : Spectacle de fin d’année du programme de danse du cégep St-Laurent</h4>
						<span>Présenté avec l’ensemble des danseurs du programme de danse</span>
					</div>
				</div>
			</div>
			<div class="title" style="background-image: url('assets/experiences/c16.jpg');">
				<div class="job-container">
					<div class="job"><h4>Danseuse : Chorégraphies pour la troupe Lô</h4>
						<span>Chorégraphiées par Jade Marquis</span>
					</div>
				</div>
			</div>
			<div class="title" style="background-image: url('assets/experiences/c17.jpg');">
				<div class="job-container">
					<div class="job"><h4>Chorégraphe : Création étudiante pour la troupe Lô #2</h4>
						<span>Présenté avec l’ensemble des danseurs de la troupe</span>
					</div>
				</div>
			</div>
		</div>
		<div #2014>
			<h3 class="year">2014</h3>
			<div class="title" style="background-image: url('assets/experiences/c18.jpg');">
				<div class="job-container">
					<div class="job"><h4>Chorégraphe et danseuse : danse pour la finale de la troupe de théâtre L’Atelier</h4>
						<span>Présenté avec les comédiens de la troupe</span>
					</div>
				</div>
			</div>
			<div class="title" style="background-image: url('assets/experiences/c19.jpg');">
				<div class="job-container">
					<div class="job"><h4>Danseuse : Chorégraphies pour la troupe Lô</h4>
						<span>Chorégraphiées par Jade Marquis</span>
					</div>
				</div>
			</div>
			<div class="title" style="background-image: url('assets/experiences/c20.jpg');">
				<div class="job-container">
					<div class="job"><h4>Chorégraphe : Création étudiante pour la troupe Lô #1</h4>
						<span>Présenté avec l’ensemble des danseurs de la troupe</span>
					</div>
				</div>
			</div>
		</div>
		<div #2013>
			<h3 class="year">2013</h3>
			<div class="title" style="background-image: url('assets/experiences/c21.jpg');">
				<div class="job-container">
					<div class="job"><h4>Danseuse : Chorégraphies pour la troupe KDN</h4>
						<span>Présentées à plusieurs évènements (YMCA, Cabaret Mado, etc.), chorégraphiées par Toshiro Arthur Kam</span>
					</div>
				</div>
			</div>
			<div class="title" style="background-image: url('assets/experiences/c22.jpg');">
				<div class="job-container">
					<div class="job"><h4>Danseuse : Chorégraphies dans la vitrine d’une galerie d’art</h4>
						<span>MCM Création, Montréal</span>
					</div>
				</div>
			</div>
		</div>
		<div #2012>
			<h3 class="year">2012</h3>
			<div class="title" style="background-image: url('assets/experiences/c23.jpg');">
				<div class="job-container">
					<div class="job"><h4>Danseuse : Chorégraphies pour l’évènement Mode en spectacle</h4>
						<span>Présenté au Pensionnat du Saint-Nom-de-Marie, Montréal</span>
					</div>
				</div>
			</div>
		</div>
		<div #2006>
			<h3 class="year">2006</h3>
			<div class="title" style="background-image: url('assets/experiences/c24.jpg');">
				<div class="job-container">
					<div class="job"><h4>Danseuse : Participation à l’évènement Pas de danse, Pas de vie</h4>
						<span>Place des arts, Montréal</span>
					</div>
				</div>
			</div>
		</div>
		<div #2003>
			<h3 class="year">2003</h3>
			<div class="title" style="background-image: url('assets/experiences/c25.jpg');">
				<div class="job-container">
					<div class="job"><h4>Danseuse : « Cinq voix, cinq visages »</h4>
						<span>Chorégraphié par Jane Mappin</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
