<div id="categories-img" [ngClass]="{'small': small}">
	<a class="categorie-img">
		<div class="image-container" routerLink='/a-propos/biographie'>
			<img src="assets/about/bio_image.png">
			<p>BIOGRAPHIE</p>
		</div>
	</a>
	<a class="categorie-img" routerLink='/a-propos/demarches'>
		<div class="image-container">
			<img src="assets/about/dem_art_image.png">
			<p>DEMARCHE ARTISTIQUE</p>
		</div>
	</a>
	<a class="categorie-img" routerLink='/a-propos/experiences'>
		<div class="image-container">
			<img src="assets/about/exp_image_1.png">
			<p>EXPERIENCES</p>
		</div>
	</a>
</div>