.container {
    margin: 50px;
    background-color: var(--background-color);
	height: 700px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

// app-spotlight-item:not(:last-child) {
// 	display: block;
// 	margin-right: 10px;
// }
  