
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Ophelie-Portfolio-primary: mat-palette($mat-indigo);
$Ophelie-Portfolio-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Ophelie-Portfolio-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Ophelie-Portfolio-theme: mat-light-theme((
  color: (
    primary: $Ophelie-Portfolio-primary,
    accent: $Ophelie-Portfolio-accent,
    warn: $Ophelie-Portfolio-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Ophelie-Portfolio-theme);

/* You can add global styles to this file, and also import other style files */

//Default variables
:root {
	--primary-text-color: white;
	--background-color: black;
	--accent-color: #F56600;
	--hovered-color: #BABABA;
	--hoverable-color: white;
	--disabled-color: rgba(255, 255, 255, 0.3);

    --hoverable-opacity: 1;
	--hovered-opacity: 0.6;
}

body {
    background-color: var(--background-color);
    margin: 0;
}

h1, h2, h3, h4, a, p, span, div {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: var(--primary-text-color);
    font-weight: 300;
}

@font-face {
	font-family: 'Halfomania';
	src: url('/assets/fonts/Halfomania-Regular.otf'),
		url('/assets/fonts/Halfomania-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Automatic';
	src: url('/assets/fonts/Automatic.otf');
}

.hoverable {
	// cursor: pointer;
	cursor: pointer;
	color: var(--hoverable-color);
	a, p, h2, h3, h4, span {
		color: inherit;
	}
	svg {
		fill: var(--hoverable-color);
	}
	img {
		opacity: var(--hoverable-opacity);
	}
	@media (hover: hover) {
		color: var(--hoverable-color);
        transition: color 0.2s;

		a, p, h2, h3, h4, span {
		    color: inherit;
            transition: color 0.2s;
		}
		svg {
			fill: var(--hoverable-color);
            transition: fill 0.2s;
		}
		img {
			opacity: var(--hoverable-opacity);
            transition: opacity 0.2s;
		}
		&:hover {
			color: var(--hovered-color);
			svg {
				fill: var(--hovered-color);
			}
			img {
				opacity: var(--hovered-opacity);
			}
		}
	}
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
